{%extends 'base.html.twig'%}

{% block title %}Stage{%endblock%}

{%block body%}

<div class="container-fluid">
<h1>Cette page affichera le despriptif du stage pour identifiant : {{id}}</h1>

</div>
{%endblock%}
