{%extends 'base.html.twig'%}

{% block title %}Entreprises{%endblock%}


{%block body%}
<div class="container-fluid">
<h1>Liste des entreprises</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Adresse</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Site</th>
    </tr>
  </thead>
  <tbody>
  {%for entreprise in Entreprises%}
    <tr>
      <td>{{entreprise.nom}}</td>
      <td>{{entreprise.adresse}}</td>
      <td>{{entreprise.telephone}}</td>
      <td>{{entreprise.lienSite}}</td>
    </tr>
    {%endfor%}
</table>

</div>
{%endblock%}
