{%extends 'base.html.twig'%}

{% block title %}Formations{%endblock%}

{%block body%}
<div class="container-fluid">
<h1>Liste des formations</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Diplôme</th>
      <th scope="col">Détail</th>
    </tr>
  </thead>
  <tbody>
  {%for formation in Formations%}
    <tr>
      <td>{{formation.type}}</td>
      <td>{{formation.description}}</td>
    </tr>
  {%endfor%}
</table>

</div>
{%endblock%}
