{%extends 'base.html.twig'%}

{% block title %}Accueil{%endblock%}



{%block body%}

<div class="container-fluid">
<h1>Bienvenue sur Prostages</h1>


<div class="btn-group">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Liste des stages
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


   



  </div>

</div>
{%endblock%}
